[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
black = "*"
langchain-community = "*"
langchain-ollama = "*"
langchain-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.13"
