[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
langchain-ollama = "*"
langchain-experimental = "*"
qrcode = "*"
langchainhub = "*"
pandas = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.13"
